  /* La version desktop de la page d'acceuil*/
  
  @media only screen and (min-width : 991px) { 

    *  { margin: 0px; padding: 0px;   } 

.Titrecontener2
{
  padding-top: 30px;
  margin-left: 25px;
  font-size:x-large;
  padding-bottom:30px;
}
#les3cylindriques
{                  
  display: flex;
  flex-wrap: wrap;
}
.cylindrique1,.cylindrique2,.cylindrique3 
{
  display: flex;
  width: 380px;
  height:90px;
  background-color:whitesmoke;
  border-bottom-left-radius:25px;
  border-top-left-radius:25px;
  border-bottom-right-radius:25px;
  border-top-right-radius:25px;
  margin-bottom:30px;
  align-items:center;
  margin-left:auto;
  margin-right:auto;
  box-shadow: 7px 8px 8px lightgrey;               
}
    
.contener3
{
  background:whitesmoke;
  justify-content:space-around;
  align-items:center;
  padding-top: 65px;
  padding-bottom: 60px;
}

#contener3titre
{
  margin-left: 25px;
  font-size:larger;
}

.contener3 img 
{
  object-fit: cover;
  border-top-left-radius:20px;
  border-top-right-radius:20px;
  width:355px;
  height: 197px;
}
.lescards
{
  display:flex;
  flex-wrap: wrap;
  
}

.card1,.card2,.card3,.card4 
{        
 display:flex; 
 width:355px;
 height:260px;
 border:none;                                
 border-radius: 20px;                                  
 justify-items: center;                                  
 background-color: white;                                 
 align-items:center;                                  
 box-shadow: 0 0 2em lightgrey;
 margin-left:25px;
 margin-bottom: 0px;
 margin-top: 30px;

} 
    
}

  /* La version desktop de la page d'acceuil  modification des cards menu pour ecran de 1140px à1520px */
  
@media only screen and (min-width : 1140px) and (max-width :1520px ) 
{ 

*  { margin: 0px; padding: 0px;   } 

.contener3 img 
{
  object-fit: cover;
  border-top-left-radius:20px;
  border-top-right-radius:20px;
  width:250px;
  height: 197px;
}


  
.card1,.card2,.card3,.card4 
{        
  display:flex; 
  width:250px;
  height:260px;
  border:none;                                
  border-radius: 20px;                                  
  justify-items: center;                                  
  background-color: white;                                 
  align-items:center;                                  
  box-shadow: 0 0 2em lightgrey;
  margin-left:25px;
  margin-bottom: 0px;
  margin-top: 30px;
    
}

}

/* La version desktop de la page d'acceuil  modification des cylinrique menu pour ecran de 1140px à1210px */
  
@media only screen and (min-width : 1140px) and (max-width :1210px ) 
{ 

  *  { margin: 0px; padding: 0px;   } 

  .cylindrique1,.cylindrique2,.cylindrique3 
  {
    display: flex;
    width: 340px;
    height:90px;
    background-color:whitesmoke;
    border-bottom-left-radius:25px;
    border-top-left-radius:25px;
    border-bottom-right-radius:25px;
    border-top-right-radius:25px;
    margin-bottom:30px;
    align-items:center;
    margin-left:auto;
    margin-right:auto;
    box-shadow: 7px 8px 8px lightgrey;               
  }
  
}

  /* La version desktop de la page d'acceuil* pour très grand écran min with : 2380px*/
  
  @media only screen and (min-width : 2380px) 
  { 

   *  { margin: 0px; padding: 0px;   } 

   #lastcontener
   {
     width:auto;
     background:#353535;
     justify-content:center;
     align-items: center;
     padding-top: 25px;
     padding-bottom: 375px;
   }
   

  }
  
    /* La version mobile revisité de la page d'acceuil de 320px à 350px*/
   @media screen and (min-width:320px) and (max-width:350px) 

{ 

    *  { margin: 0px; padding: 0px;   }
     
#accroche
{ 
  font-size:large;
}
    
#accrocher 
{ 
  font-size:medium;
}    

.Titrecontener2
{
  font-size: larger;
}

.cylindrique1,.cylindrique2,.cylindrique3 
{
  display: flex;
  width: 275px;
  height:90px;
  background-color:whitesmoke;
  border-bottom-left-radius:25px;
  border-top-left-radius:25px;
  border-bottom-right-radius:25px;
  border-top-right-radius:25px;
  margin-bottom:30px;
  align-items:center;
  margin-left:auto;
  margin-right:auto;
  box-shadow: 7px 8px 8px lightgrey;               
}
.titrecylindrique
{
  margin-left: 20px;
  font-size: medium;
}

.contener3 
{
  padding-top: 35px;
}

#contener3titre
{
  font-size: large;
}

.card1,.card2,.card3 
{        
  display:flex; 
  width:280px;
  height:200px;
  border:none;                                
  border-radius: 20px;                                  
  justify-items: center;                                  
  background-color: white;                                 
  align-items:center;                                  
  box-shadow: 0 0 2em lightgrey;
  margin-left:auto;
  margin-right: auto;
  margin-bottom: 30px;
} 

.card4 
{        
  display:flex; 
  width:280px;
  height:200px;
  border:none;                                
  border-radius: 20px;                                  
  justify-items: center;                                  
  background-color: white;                                 
  align-items:center;                                  
  box-shadow: 0 0 2em lightgrey;
  margin-left:auto;
  margin-right: auto;  
} 

.contener3 img 
{
  object-fit: cover;
  border-top-left-radius:20px;
  border-top-right-radius:20px;
  width:281px;
  height: 137px;
}
.texte-etiquette
{
  left:82%;
  height:30px;
}

.espacerleheart
{

  font-size: medium;
}


}

/* La version mobile revisité de la page d'acceuil de 350px à 380px*/
@media screen and (min-width:350px) and (max-width:380px) 

{ 
    
*  { margin: 0px; padding: 0px; } 

#accroche
{ 
  font-size:larger;
}
    
#accrocher 
{ 
  font-size:large;
}

.Titrecontener2
{
  font-size: larger;
}

.cylindrique1,.cylindrique2,.cylindrique3 
{
  display: flex;
  width: 310px;
  height:90px;
  background-color:whitesmoke;
  border-bottom-left-radius:25px;
  border-top-left-radius:25px;
  border-bottom-right-radius:25px;
  border-top-right-radius:25px;
  margin-bottom:30px;
  align-items:center;
  margin-left:auto;
  margin-right:auto;
  box-shadow: 7px 8px 8px lightgrey;               
}

.titrecylindrique
{
  margin-left: 20px;
  font-size: medium;
}

#contener3titre
{
  font-size: large;
}

.card1,.card2,.card3 
{        
  display:flex; 
  width:315px;
  height:260px;
  border:none;                                
  border-radius: 20px;                                  
  justify-items: center;                                  
  background-color: white;                                 
  align-items:center;                                  
  box-shadow: 0 0 2em lightgrey;
  margin-left:auto;
  margin-right: auto;
  margin-bottom: 30px;    
} 
    
.card4 
{        

  display:flex; 
  width:315px;
  height:260px;
  border:none;                                
  border-radius: 20px;                                  
  justify-items: center;                                  
  background-color: white;                                 
  align-items:center;                                  
  box-shadow: 0 0 2em lightgrey;
  margin-left:auto;
  margin-right: auto;  
} 
    
.contener3 img 
{
  object-fit: cover;
  border-top-left-radius:20px;
  border-top-right-radius:20px;
  width:315px;
  height: 197px;
}
.espacerleheart {

  font-size: medium;

}

        
}

/* La version mobile revisité de la page d'acceuil de 380px à 415px*/
@media screen and (min-width:380px) and (max-width:415px) 

{ 
    
*  { margin: 0px; padding: 0px; } 

#accroche
{ 
  font-size:larger;
}
    
#accrocher 
{ 
  font-size:large;
}
 
.Titrecontener2
{
  font-size: larger;
}

.cylindrique1,.cylindrique2,.cylindrique3 
{
  display: flex;
  width: 350px;
  height:90px;
  background-color:whitesmoke;
  border-bottom-left-radius:25px;
  border-top-left-radius:25px;
  border-bottom-right-radius:25px;
  border-top-right-radius:25px;
  margin-bottom:30px;
  align-items:center;
  margin-left:auto;
  margin-right:auto;
  box-shadow: 7px 8px 8px lightgrey;               
}

.titrecylindrique
{
  margin-left: 20px;
  font-size: medium;
}

#contener3titre
{
  font-size: large;
}

.card1,.card2,.card3 
{        
  display:flex; 
  width:355px;
  height:260px;
  border:none;                                
  border-radius: 20px;                                  
  justify-items: center;                                  
  background-color: white;                                 
  align-items:center;                                  
  box-shadow: 0 0 2em lightgrey;
  margin-left:auto;
  margin-right: auto;
  margin-bottom: 30px;    
} 
    
.card4 
{        

  display:flex; 
  width:355px;
  height:260px;
  border:none;                                
  border-radius: 20px;                                  
  justify-items: center;                                  
  background-color: white;                                 
  align-items:center;                                  
  box-shadow: 0 0 2em lightgrey;
  margin-left:auto;
  margin-right: auto;  
} 
    
.contener3 img 
{
  object-fit: cover;
  border-top-left-radius:20px;
  border-top-right-radius:20px;
  width:355px;
  height: 197px;
}
.espacerleheart {

  font-size: medium;

}

        
}


