@media (min-width:450px) and (max-width:768px) {   


    *  { margin: 0px; padding: 0px;   }
html 
{
  font-family: 'Roboto', sans-serif;
}
    

body a 
{  
  text-decoration: none;
  color: black;
}


header .block1
{                        
  width:auto;                 
  height:95px;
  background-color: white;                
  justify-content: center;                  
  align-items: center;                 
  box-shadow: 10px 10px 5px grey;
}

#mylogo        
                
{         
  height: 40px;              
  padding-top: 40px;              
  padding-bottom: 55px;             
  display: block;
  margin-left: auto;              
  margin-right: auto;               
}

#lastcontener
{
  width:auto;
  height:auto;
  background:black;
  justify-content:center;
  align-items: center;
  box-shadow: 10px 10px 5px grey
}

footer p 
{
  color:white;
}
footer h1
{
   color:white;
   font-family: 'Shrikhand', cursive;

}



}
























