@media (min-width:450px) and (max-width:768px) { 
    
    
    *  { margin: 0px; padding: 0px;   }

html 
{
  font-family: 'Roboto', sans-serif;
}

body a 
{  
  text-decoration: none;
  color: black;
}


header .block1
{                        
  width:auto;                 
  height:95px;
  background-color: white;                
  justify-content: center;                  
  align-items: center;                 
  box-shadow: 10px 10px 5px grey;
}

#mylogo        
                
{         
  height: 40px;              
  padding-top: 40px;              
  padding-bottom: 55px;             
  display: block;
  margin-left: auto;              
  margin-right: auto;               
}

header .block2  
               
{       
  width: auto;                
  height:55px;                 
  background-color: lightgrey;                 
  justify-content: center;                
  align-items: center;        
         
  box-shadow: 10px 10px 5px grey;               
}

#location      
                
{                 
  display:flex;              
  justify-content: center;               
  align-items: center;                  
  width:auto;  
  height: auto;   
  margin-left: auto;
  margin-right: auto;                   
}

#locicone
{
  margin-top:10px;
}

#ici                         
{ margin-top:20px;
  margin-left:25px;
  font-size:large;
  height:30px;              
}

::placeholder                   
{               
  font-size: larger;                
  width: 120px;                
}
        
.contener1       
{                    
  width:auto;
  height: 360px;                  
  background-color: whitesmoke;                 
  justify-content: center;                 
  align-items: center;                  
  box-shadow: 10px 5px 5px grey;
}

#accroche
{ 
  padding-top:40px;
  font-size:xx-large;
  display: flex;
  flex-wrap: wrap;
  font-weight: bolder;
  margin-left: 45px;
}

.accrochepart1
{
  margin-left: 55px;
}

.accrochepart2
{
  margin-left: 110px;
}


#accrocher 
{ 
  padding-top:15px;
  font-size:x-large;
  display: flex;
  flex-wrap: wrap;
  font-weight:lighter;
  margin-left: 45px;
}

.accrocherpart1
{
  margin-left: 35px;
}

.accrocherpart2
{
  margin-left: 70px;
}


#cylindre
{        
  display: flex;
  width: 330px;
  height: 60px;
  background-color:white ;
  border-radius:500px ;
  border-left: none;
  border-bottom-left-radius:none;
  margin-right: 30px;
  justify-content:center;
  align-items:center;
  margin-top: 35px;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 7px 8px 8px lightgrey;               
}

#Explorer
{
  font-size:x-large;
  color:white;
}
.contener2  
{                    
  width: auto;                   
  height: 480px;                    
  background: white;                    
  justify-content: center;    
  box-shadow: 10px 5px 5px grey;
}

.Titrecontener2
{
  padding-top: 30px;
  margin-left: 25px;
  font-size:xx-large;
  padding-bottom:30px;
}
.cylindrique1,.cylindrique2,.cylindrique3 
{
  display: flex;
  width: 400px;
  height:90px;
  background-color:whitesmoke;
  border-bottom-left-radius:25px;
  border-top-left-radius:25px;
  border-bottom-right-radius:25px;
  border-top-right-radius:25px;
  margin-bottom:30px;
  align-items:center;
  margin-left:auto;
  margin-right:auto;
  box-shadow: 7px 8px 8px lightgrey;               
}


.cylindrique1:hover
{
  background:  hsl(267, 59%, 87%);

}

.cylindrique2:hover
{
  background-color:orchid;
}

.cylindrique3:hover
{
  background-color:orchid;
}

.contener2 p
{
  font-size:x-large;
}
.rond
{
  display: flex ;
  background-color:#9356DC;
  color:white;
  border-radius: 23px;
  justify-content: center;
  align-items:center;
  margin-right:20px;
align-self: left;
  width: 40px; 
  height: 40px;
  font-family: 'Roboto', sans-serif;
}

.titrecylindrique
{
  margin-left: 20px;
}

.contener3
{
  height:auto;
  background:whitesmoke;
  justify-content:center;
  align-items:center;
}
#contener3titre
{
  padding-top: 100px;
  margin-left: 15px;
  font-size: larger;
}
.contener3 img 
{
  object-fit: cover;
  border-top-left-radius:20px;
  border-top-right-radius:20px;
  width:391px;
  height: 197px;
}
.contener3 p
{
  margin-left: 15px;
  font-size: larger;
}
#coeur1,#coeur2,#coeur3,#coeur4 
{
  margin-right: 15px;

}
#coeurplein1,#coeurplein2,#coeurplein3,#coeurplein4
{
  display: none;
  margin-right: 15px;
}
#coeurplein1:hover
{ 
  display: block;
  background: linear-gradient(#FF79DA, #9356DC);
}
#coeurplein2:hover
{ 
  display: block;
  background: linear-gradient(#FF79DA, #9356DC);
}
#coeurplein3:hover
{
  display: block;
  background: linear-gradient(#FF79DA, #9356DC);
}
#coeurplein4:hover
{
  display: block;
  background: linear-gradient(#FF79DA, #9356DC);
}

#coeur1:hover
{
  display: none;
}

#coeur2:hover
{
  display: none;
}

#coeur3:hover
{
  display: none;
}

#coeur4:hover
{
  display: none;
}

.card1
{
  margin-top: 30px;
}

.card1,.card2,.card3 
{        
 display:flex; 
 width:390px;
 height:260px;
 border:none;                                
 border-radius: 20px;                                  
 justify-items: center;                                  
 background-color: white;                                 
 align-items:center;                                  
 box-shadow: 0 0 2em lightgrey;
 margin-left:40px;
 margin-bottom: 30px;

} 

.card4 
{        
  display:flex; 
  width:390px;
  height:260px;
  border:none;                                
  border-radius: 20px;                                  
  justify-items: center;                                  
  background-color: white;                                 
  align-items:center;                                  
  box-shadow: 0 0 2em lightgrey;
  margin-left:40px;  
  margin-bottom: 30px;

} 
  
.espacerleheart
{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;  
}

.textdubas
{
  margin-bottom: 15px;
}
.contenant {
  position: relative;
  text-align: center;
  color:#06b78bdd
}

.texte-etiquette {
  position: absolute;
  top: 15%;
  left: 85%;
  transform: translate(-50%, -50%);
  display:flex; 
  width:85px;
  height:35px;
  justify-content: center;                                  
  background-color:#99E2D0;                                 
  align-items:center;  

}

#lastcontener
{
  width:auto;
  height:auto;
  background:black;
  justify-content:center;
  align-items: center;
  box-shadow: 10px 10px 5px grey
}

footer p 
{
  color:white;
}
footer h1
{
   color:white;
   font-family: 'Shrikhand', cursive;

}




}

